:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/*!=====================TASK 1======================== */


.timer {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  width: 400px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 3 * 10px) / 4);
}

.value {
  font-size: 50px;
  margin-bottom: 16px;
}

.label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}





/*!=====================TASK 2======================== */

.delay-label {
  display: flex;
  flex-direction: column;
}

.delay-input {
  width: 250px;
  height: 30px;
}

.fieldset {
  width: 230px;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 8px;
}

.button {
  width: 257px;
}